html {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    max-width: 900px;
    margin: 0 auto;             /* centers page if wider then 900 pixels */               
}

nav {
    background-color: rgb(223, 242, 245);
    display: flex;    
    height: 3.5rem;
}

.myName {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.myName a {
    color: black;
    text-decoration: none;
}

.ul_nav {
    display: flex;
    list-style-type: none;        
    align-items: center;
    margin: 0;
    margin-left: auto;    
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/* highlight nav item when mouse over item */
li a:hover {
    background-color: navy;
    color: rgb(223, 242, 245);
}

section {
    margin-top: 1rem;
}

.about_me_container {        
    display: flex;
}

.about_me_text_container {
    margin-right: 1rem;
}

.my_photo {
    border-radius: 0.5rem;
}

#projects {
    margin-bottom: 2rem;
}

.project_summary {
    font-size: large;
    font-weight: bold;
}

.project_img {
    width: 100%;
    height: auto;
}

.logo_containers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.logo_containers img {
    padding: 0 0.5rem;
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.popup_video {
    margin: 20px;
}
.modal-dialog {            
    max-width: 100%;    /* sets modal window to full width of page*/
}
.modal-dialog iframe {
    margin: 0 auto;
    display: block;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav {
        height: 6rem;    
    }
    .about_me_container {
        flex-direction: column;
        margin-right: 0;
    }
    .my_photo {
        width: 100%;
    }
    /* #test {
      background-color: orange;
    } */
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .my_photo {
        width: 250px;
    }
    body {
        padding: 0 1rem;
    }
    /* #test {
      background-color: purple;
    } */
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .my_photo {
        width: 300px;
    }
    body {
        padding: 0 1rem;
    }
    /* #test {
      background-color: green;
    } */
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* do nothing */
    /* #test {
      background-color: blue;
    } */
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    /* do nothing */
    /* #test {
      background-color: red;
    } */
  }
  
  